# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Entornos virtuales
venv/
env/
.venv/

# Datos procesados (se regeneran con el código)
data/processed/*.csv

# Outputs generados
outputs/tablas/*.csv

# Sistema operativo
.DS_Store
Thumbs.db